body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carport-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.carport {
    margin: 20px;
    padding: 20px;
    border: 1px solid #551a1a;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carport img {
    width: 80%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.carport-info {
    text-align: center;
}
