body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.order-box {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007BFF;
}

.order-box h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.total-price {
    font-weight: bold;
    color: #007BFF;
}