<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPage</title>
    <link href="../public/css/adminStyles.css" th:href="@{/css/adminStyles.css}" rel="stylesheet"/>
</head>
<body>

<div class="card-image">
    <header>
        <a href="homepage.html" th:href="@{/}">
            <img alt="logo" src="../public/images/fog100.png" th:src="@{/images/fog100.png}">
        </a>
    </header>
</div>

<div class="welcome-box">
    <p th:if="${session.currentUser != null}">Velkommen, <span th:text="${session.currentUser.firstname}"></span>!</p>
</div>

<div class="options">
    <a href="orderlist.html" th:href="@{orderlist}">Se brugeres ordre</a>
</div>

<form th:action="@{/admin}" method="post" class="admin-form">
    <label for="email">Indtast kundens email:</label>
    <input type="text" id="email" name="email" required>
    <button type="submit">Søg</button>
</form>

<table class="user-table">
    <thead>
    <tr>
        <th>UserID</th>
        <th>Email</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userID}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td>
            <form th:action="@{/admin/viewUserOrders}" method="get">
                <input type="hidden" name="userID" th:value="${user.userID}">
                <button type="submit">Kundens ordre.</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
