<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPage</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="card-image">
    <header>
        <a href="homepage.html" th:href="@{/}">
            <img alt="logo" src="../public/images/fog100.png" th:src="@{/images/fog100.png}">
        </a>
    </header>
</div>

<div class="welcome-box">
    <p th:if="${session.currentUser != null}">Velkommen, <span th:text="${session.currentUser.firstname}"></span>!</p>
</div>

<div class="options">
    <a href="orderlist.html" th:href="@{orderlist}">Se brugeres ordre</a>
</div>

<form th:action="@{/admin}" method="post">
    <label for="email">Enter User Email:</label>
    <input type="text" id="email" name="email" required>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>UserID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Rolle</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Adresse</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Telefonnummer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="users : ${userList}">
        <td th:text="${users.userID}"></td>"
        <td th:text="${users.email}"></td>
        <td th:text="${users.password}"></td>
        <td th:text="${users.role}"></td>
        <td th:text="${users.firstname}"></td>
        <td th:text="${users.lastname}"></td>
        <td th:text="${users.adresse}"></td>
        <td th:text="${users.postnr}"></td>
        <td th:text="${users.by}"></td>
        <td th:text="${users.tlfnr}"></td>
        <td>
            <form action="@{/removeUser}" th:action="@{/removeuser}" method="post">
                <button type="submit"  name="userID" th:value="${users.userID}">Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>