<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPage</title>
    <link href="../public/css/adminStyles.css" th:href="@{/css/adminStyles.css}" rel="stylesheet"/>
</head>
<body>

<header>
    <div class="header-content">
        <a href="admin" th:href="@{admin}" class="logo-container">
            <img class="logo" alt="logo" src="../public/images/fog100.png" th:src="@{/images/fog100.png}">
            <span class="logo-text">JohannesFog</span>
        </a>
    </div>
</header>

<div class="welcome-box">
    <p th:if="${session.currentUser != null}">Velkommen, <span th:text="${session.currentUser.firstname}"></span>!</p>
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit" name="logout" style="width:auto;">Log ud</button>
    </form>
</div>

<form th:action="@{/admin}" method="post" class="admin-form">
    <label for="email">Indtast kundens email:</label>
    <input type="text" id="email" name="email">
    <button type="submit">Søg</button>
</form>

<table class="user-table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Adresse</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Tlf. nr.</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}" th:if="${user.role != 'admin'}">
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.adresse}"></td>
        <td th:text="${user.postnr}"></td>
        <td th:text="${user.by}"></td>
        <td th:text="${user.tlfnr}"></td>
        <td>
            <form th:action="@{/admin/viewUserOrders}" method="get">
                <input type="hidden" name="userID" th:value="${user.userID}">
                <button type="submit">Kundens ordre</button>
            </form>
        </td>
        <td>
            <form th:action="@{/removeuser}" method="post">
                <input type="hidden" name="userID" th:value="${user.userID}">
                <button type="submit" style="background-color:red; color:white;">Fjern bruger</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
