<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Template</title>
    <link href="../public/css/stylez.css" th:href="@{/css/stylez.css}" rel="stylesheet"/>
</head>
<body>


<div class="carport-container" >
    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
        <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>

    <div class="carport" >
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>SKRIV TITEL HER</h2>
            <p>SKRIV PRIS HER</p>
            <p>MATERIALE BESKRIVELSE</p>
        </div>
    </div>
</div>
</body>
</html>
