<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Template</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="card-image">
    <header>
        <a href="homepage.html" th:href="@{/}">
            <img alt="logo" src="../public/images/fog100.png" th:src="@{/images/fog100.png}">
        </a>
    </header>
</div>

<div class="welcome-box">
    <p th:if="${session.currentUser != null}">
        Velkommen, <span th:text="${session.currentUser.firstname}"></span>!
    </p>
    <p th:if="${session.currentUser == null}">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Opret bruger</button>
    </p>
    <p th:if="${session.currentUser != null}">
        <button onclick="window.location.href='/userorders'" style="width:auto;">Mine Ordre.</button>
    </p>

    <div th:if="${session.currentUser != null}">
        <form th:action="@{/logout}" method="post">
            <button type="submit" name="logout" style="width: auto;">Logout</button>
        </form>
    </div>
</div>

<div id="id01" class="modal">
    <form class="modal-content animate" action="/templates/login.html" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <div id="loginError" style="color: red;" th:text="${loginError}"></div>
        </div>

        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="email" id="email" required>

            <label for="password"><b>Kodeord</b></label>
            <input type="password" placeholder="Indtast Kodeord" name="password" id="password" required>

            <button type="submit" formaction="/login">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Husk Mig
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<div id="id02" class="modal">
    <form class="modal-content animate" action="/templates/login.html" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Indtast Email" name="email" id="email2" required>

            <label for="password"><b>Indtast Kodeord.</b></label>
            <label for="password"><b>Krav: ét stort bogstav, et tal og min. 8 karakt.</b></label>
            <input type="password" placeholder="Indtast Kodeord" name="password1" id="password1" required>

            <label for="password2"><b>Indtast Kodeord igen</b></label>
            <input type="password" placeholder="Indtast Kodeord Igen" name="password2" id="password2" required>

            <label for="firstname"><b>Fornavn</b></label>
            <input type="text" placeholder="Indtast Fornavn" name="firstname" id="firstname" required>

            <label for="lastname"><b>Efternavn</b></label>
            <input type="text" placeholder="Indtast Efternavn" name="lastname" id="lastname" required>

            <label for="adresse"><b>Adresse</b></label>
            <input type="text" placeholder="Indtast Adresse" name="adresse" id="adresse" required>

            <label for="postnr"><b>Postnummer</b></label>
            <input type="text" placeholder="Indtast Postnummer" name="postnr" id="postnr" required>

            <label for="city"><b>By</b></label>
            <input type="text" placeholder="Indtast Bynavn" name="city" id="city" required>

            <label for="tlfnr"><b>Telefonnummer</b></label>
            <input type="text" placeholder="Indtast Telefonnummer" name="tlfnr" id="tlfnr" required>

            <button type="submit" formaction="/createuser">Opret bruger</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Husk Mig
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>

<script>
    const modal1 = document.getElementById('id01');
    const modal2 = document.getElementById('id02');

    window.onclick = function(event) {
        if (event.target === modal1) {
            modal1.style.display = "none";
        }
        if (event.target === modal2) {
            modal2.style.display = "none";
        }
    }
</script>

<div class="options">
    <div th:if="${session.currentUser != null}">
        <a class="stylish-button" th:href="@{/makeyourowncarport}">Lav din egen carport</a>
    </div>
    <div th:if="${session.currentUser == null}">
        <button class="stylish-button" onclick="alert('Vi har brug for information om dig. Venligst log ind eller opret en bruger.');">Lav din egen carport</button>
    </div>
</div>


<div class="carport-container productgrid">
    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-6-00x5-40-m-car01dr-00822}">
            <img alt="carport img" src="../public/images/img.png" th:src="@{/images/img.png}">
        </a>
        <div class="carport-info">
            <h2>ENKELT CARPORT 6,00X5,40 M MED REDSKABSRUM OG TØRREPLADS, FLADT TAG</h2>
            <p>18.998,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x4-80-m-car01du-00821"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x4-80-m-car01du-00821}">
            <img alt="carport img" src="../public/images/carport1.png" th:src="@{/images/carport1.png}">
        </a>
        <div class="carport-info">
            <h2>DOBBELT CARPORT 6,00X4,80 M UDEN MIDTERSTOLPE - FLADT TAG</h2>
            <p>15.998,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x7-80-m-cp01dur-00823"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x7-80-m-cp01dur-00823}">
            <img alt="carport img" src="../public/images/carport2.png" th:src="@{/images/carport2.png}">
        </a>
        <div class="carport-info">
            <h2>DOBBELT CARPORT 6,00X7,80 M UDEN MIDTERSTOLPE - MED REDSKABSRUM - FLADT TAG</h2>
            <p>29.498,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-00x4-80-m-car01-00816"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-00x4-80-m-car01-00816}">
            <img alt="carport img" src="../public/images/carport3.png" th:src="@{/images/carport3.png}">
        </a>
        <div class="carport-info">
            <h2>ENKELT CARPORT 3,00X4,80 M FLADT TAG</h2>
            <p>6.498,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x9-90-m-cp02hxl-9116206"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/dobbelt-carporte/dobbelt-carport-6-00x9-90-m-cp02hxl-9116206}">
            <img alt="carport img" src="../public/images/carport4.png" th:src="@{/images/carport4.png}">
        </a>
        <div class="carport-info">
            <h2>DOBBELT CARPORT 6,00X9,90 M MED REDSKABSRUM OG HØJ REJSNING</h2>
            <p>59.998,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x5-40-m-car01h-9116199"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x5-40-m-car01h-9116199}">
            <img alt="carport img" src="../public/images/carport7.png" th:src="@{/images/carport7.png}">
        </a>
        <div class="carport-info">
            <h2>DOBBELT CARPORT 6,00X9,90 M MED REDSKABSRUM OG HØJ REJSNING</h2>
            <p>24.998,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x7-20-m-car01hr-9116200"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x7-20-m-car01hr-9116200}">
            <img alt="carport img" src="../public/images/carport5.png" th:src="@{/images/carport5.png}">
        </a>
        <div class="carport-info">
            <h2>ENKELT CARPORT 3,60X7,20 M MED REDSKABSRUM OG HØJ REJSNING</h2>
            <p>31.498,00 DKK</p>
        </div>
    </div>

    <div class="carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x8-10-m-carl01hr-9116201"
           th:href="@{https://www.johannesfog.dk/have-fritid/carporte/enkelt-carporte/enkelt-carport-3-60x8-10-m-carl01hr-9116201}">
            <img alt="carport img" src="../public/images/carport6.png" th:src="@{/images/carport6.png}">
        </a>
        <div class="carport-info">
            <h2>ENKELT CARPORT 3,60X8,10 M MED REDSKABSRUM OG HØJ REJSNING</h2>
            <p>35.998,00 DKK</p>
        </div>
    </div>


</div>
</body>
</html>
