<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderlist</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="card-image">
    <header>
        <a href="homepage.html" th:href="@{/}">
            <img alt="logo" src="../public/images/fog100.png" th:src="@{/images/fog100.png}">
        </a>
    </header>
</div>

<div class="welcome-box">
    <p th:if="${session.currentUser != null}">Velkommen, <span th:text="${session.currentUser.firstname}"></span>!</p>
</div>
<p>Du på orderlist</p>

<form th:action="@{/orderlist}" method="post">
    <label for="userID">Enter User ID:</label>
    <input type="text" id="userID" name="userID" required>
    <button type="submit">Search</button>
</form>

    <table>
        <thead>
        <tr>
            <th>OrderID</th>
            <th>UserID</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${orderList}">
            <td th:text="${orders.orderID}"></td>
            <td th:text="${orders.userID}"></td>
            <td th:text="${orders.totalprice + ' DKK'}"></td>
            <td>
                <form action="@{/removeOrder}" th:action="@{/removeorder}" method="post">
                    <button type="submit"  name="orderID" th:value="${orders.orderID}">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>