<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carport Template</title>
    <link href="../public/css/carportCreator.css" th:href="@{/css/carportCreator.css}" rel="stylesheet"/>
</head>
<body>
<h1>Tak! Vi har modtaget din ordre. Du hører fra os snarest!</h1>
<p th:text="${message}"></p>

<p>Ved yderligere spørgsmål eller ønsker du at annulere din ordre.</p>
<p>Kontakt venligst - Lars Jepsen.</p>
<p>Tlf. nr: 12 34 56 78</p>
<p>Email: larsjepsen@fog.dk</p>

<button type="button" class="goback-button"><a href="/">Vend tilbage til forsiden.</a></button>

</body>
</html>
